In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
"""
The collection of data, usually referred to
as the database, contains information relevant to an enterprise

SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.
"""

'\nThe collection of data, usually referred to\nas the database, contains information relevant to an enterprise\n\nSQL databases are relational, and NoSQL databases are non-relational.\nSQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.\nSQL databases are vertically scalable, while NoSQL databases are horizontally scalable.\nSQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.\nSQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.\n'

In [2]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""
DDL (Data Definition Language) defines and manages the structure of a database, using
commands like CREATE, ALTER, DROP, and TRUNCATE to manipulate database objects.

• CREATE: This command is used to create new database objects, such as tables, indexes, views, or databases.
	• Example: CREATE TABLE Employees (ID INT PRIMARY KEY, Name VARCHAR(255), Department VARCHAR(255));

• ALTER: This command modifies the structure of existing database objects, allowing you to add, delete, or change columns, constraints, or other properties.
	• Example: ALTER TABLE Employees ADD COLUMN Salary INT;

• DROP: This command permanently deletes database objects, including tables, indexes, views, or databases.
	• Example: DROP TABLE Employees;

• TRUNCATE: This command deletes all data from a table, while preserving the table's structure, indexes, and constraints.
	• Example: TRUNCATE TABLE Employees;
"""

"\nDDL (Data Definition Language) defines and manages the structure of a database, using \ncommands like CREATE, ALTER, DROP, and TRUNCATE to manipulate database objects.  \n\n• CREATE: This command is used to create new database objects, such as tables, indexes, views, or databases. \n\t• Example: CREATE TABLE Employees (ID INT PRIMARY KEY, Name VARCHAR(255), Department VARCHAR(255)); \n\n• ALTER: This command modifies the structure of existing database objects, allowing you to add, delete, or change columns, constraints, or other properties. \n\t• Example: ALTER TABLE Employees ADD COLUMN Salary INT; \n\n• DROP: This command permanently deletes database objects, including tables, indexes, views, or databases. \n\t• Example: DROP TABLE Employees; \n\n• TRUNCATE: This command deletes all data from a table, while preserving the table's structure, indexes, and constraints. \n\t• Example: TRUNCATE TABLE Employees;  \n"

In [3]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""
DML (Data Manipulation Language) is a set of SQL commands used to manipulate data within a database,
primarily including INSERT (to add data), UPDATE (to modify existing data), and DELETE (to remove data).

• INSERT: Adds new rows (records) to a table.
	• Example:
        -- Assuming you have a table named 'Customers' with columns 'CustomerID', 'FirstName', and 'LastName'
        INSERT INTO Customers (CustomerID, FirstName, LastName) VALUES (101, 'Alice', 'Smith');
This statement inserts a new row into the Customers table with the specified values.

• UPDATE: Modifies existing data within a table.
	• Example:
        --Update the 'LastName' of the customer with CustomerID = 100
        UPDATE Customers SET LastName = 'Johnson' WHERE CustomerID = 100;
This statement updates the LastName column of the row where CustomerID is 100 to 'Johnson'.

• DELETE: Removes rows (records) from a table.
	• Example:
        -- Delete the customer with CustomerID = 101
        DELETE FROM Customers WHERE CustomerID = 101;
This statement deletes the row from the Customers table where CustomerID is 101.
"""

"\nDML (Data Manipulation Language) is a set of SQL commands used to manipulate data within a database, \nprimarily including INSERT (to add data), UPDATE (to modify existing data), and DELETE (to remove data).  \n\n• INSERT: Adds new rows (records) to a table. \n\t• Example: \n        -- Assuming you have a table named 'Customers' with columns 'CustomerID', 'FirstName', and 'LastName'\n        INSERT INTO Customers (CustomerID, FirstName, LastName) VALUES (101, 'Alice', 'Smith');\nThis statement inserts a new row into the Customers table with the specified values.  \n\n• UPDATE: Modifies existing data within a table. \n\t• Example: \n        --Update the 'LastName' of the customer with CustomerID = 100\n        UPDATE Customers SET LastName = 'Johnson' WHERE CustomerID = 100;\nThis statement updates the LastName column of the row where CustomerID is 100 to 'Johnson'. \n\n• DELETE: Removes rows (records) from a table. \n\t• Example: \n        -- Delete the customer with CustomerID = 101\n        DELETE FROM Customers WHERE CustomerID = 101;\nThis statement deletes the row from the Customers table where CustomerID is 101.  \n"

In [4]:
# Q4. What is DQL? Explain SELECT with an example.
"""
DQL stands for Data Query Language and is a subset of SQL used primarily for querying and retrieving data from database tables,
with the main command being SELECT. The SELECT statement retrieves data based on specified criteria, allowing you to extract specific columns and rows.

The SELECT statement is the core command in DQL for retrieving data from one or more tables.
syntax:
    SELECT column1, column2, ...
    FROM table_name;
"""

'\nDQL stands for Data Query Language and is a subset of SQL used primarily for querying and retrieving data from database tables, \nwith the main command being SELECT. The SELECT statement retrieves data based on specified criteria, allowing you to extract specific columns and rows.\n\nThe SELECT statement is the core command in DQL for retrieving data from one or more tables.\nsyntax:\n    SELECT column1, column2, ...\n    FROM table_name;\n'

In [5]:
# Q5. Explain Primary Key and Foreign Key.
"""
Primary Key:
To ensure that each row in a table is uniquely identifiable.
Characteristics:
1) Must be unique within its table.
2) Cannot contain null values.
3) Can consist of one or more columns (composite key).

Foreign Key:
To create a link between two tables by referencing the primary key of another table.
Characteristics:
Is a column (or columns) in one table that references the primary key of another table.
Enforces referential integrity, meaning that values in the foreign key column must exist in the primary key column of the referenced table.
"""

'\nPrimary Key:\nTo ensure that each row in a table is uniquely identifiable. \nCharacteristics:\n1) Must be unique within its table. \n2) Cannot contain null values. \n3) Can consist of one or more columns (composite key). \n\nForeign Key:\nTo create a link between two tables by referencing the primary key of another table. \nCharacteristics:\nIs a column (or columns) in one table that references the primary key of another table. \nEnforces referential integrity, meaning that values in the foreign key column must exist in the primary key column of the referenced table. \n'

In [9]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
!pip install mysql-connector-python
import mysql.connector
# establishing the connection
conn = mysql.connector.connect(
    user='root', password='admin@123pwd', host='localhost', database='mydb'
)
# creating a cursor object using the cursor() method
cursor = conn.cursor()

# executing the mysql function using execute() method
cursor.execute("SELECT DATABASE()")

# Fetching a single row using fetchnone method
data = cursor.fetchnone()
print("connection established to : ",data)

conn.close()

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 37.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

InterfaceError: 2002: Can't connect to local MySQL server through socket '%-.100s' (%s) (Warning: not all arguments converted during string formatting)

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
"""
In SQL, clauses are executed in the following order: FROM/JOIN, WHERE, GROUP BY, HAVING, SELECT, DISTINCT, ORDER BY, and finally, LIMIT/OFFSET
"""