In [2]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
import pandas as pd
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# Q3. Create a Pandas DataFrame that contains the following data:
# Name Alice Bob Claire
# Age 25 30 27
# Gender Female Male Female
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""
A DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, while a Series is a 1-dimensional data structure
used to represent a single column or row of data within a DataFrame or as a standalone data structure.
"""

'\nA DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, while a Series is a 1-dimensional data structure \nused to represent a single column or row of data within a DataFrame or as a standalone data structure.\n'

In [6]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
"""
1) df.head(n): return first n rows of the DataFrame.
2) df.tail(n): reutrun last n rows of the DataFrame.
3) df.read_csv("filename"): used to read csv file and give output as dataframe.
4) df.info(): gives summary of data structure.
5) df.describe(): gives summary statistics(mean, median, mode, etc).
6) df.['col'] or df.col: used to select a column
7) df.loc['label or index']: used to select by label or index.
8) df.drop(): used to drop rows or columns
9) df.fillna(): used to fill mising value in a data frame
10) df.groupby(): group data by columns
11) df.sort_values(): sort column values
12) df.apply(): apply function to rows or columns

example:
import pandas as pd

data = {
    'Subject': ['Physics', 'Math', 'Biology', 'Physics', 'Math'],
    'Views': [12000, 15000, 8000, 17000, 16000]
}
df = pd.DataFrame(data)
"""

'\n1) df.head(n): return first n rows of the DataFrame.\n2) df.tail(n): reutrun last n rows of the DataFrame.\n3) df.read_csv("filename"): used to read csv file and give output as dataframe.\n4) df.info(): gives summary of data structure.\n5) df.describe(): gives summary statistics(mean, median, mode, etc).\n6) df.[\'col\'] or df.col: used to select a column\n7) df.loc[\'label or index\']: used to select by label or index.\n8) df.drop(): used to drop rows or columns\n9) df.fillna(): used to fill mising value in a data frame\n10) df.groupby(): group data by columns\n11) df.sort_values(): sort column values\n12) df.apply(): apply function to rows or columns\n\nexample:\nimport pandas as pd\n\ndata = {\n    \'Subject\': [\'Physics\', \'Math\', \'Biology\', \'Physics\', \'Math\'],\n    \'Views\': [12000, 15000, 8000, 17000, 16000]\n}\ndf = pd.DataFrame(data)\n'

In [7]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# Series: 1-dimensional labeled arrays, size-immutable (once created, the length cannot be changed).
# DataFrame: 2-dimensional labeled data structure, size-mutable (you can add or remove columns).
# Panel: 3-dimensional labeled data structure, size-mutable.

In [8]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25,30,27])
gender = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name,
    'Age': age,
    'Gender': gender
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female