In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [9]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
"""
loc[] – Label-based indexing
Accesses rows/columns by label (i.e., names)

Includes the end label when slicing

Can be used with boolean masks or label names
"""
type(df.loc[1]) # # Access row with index label 1

pandas.core.series.Series

In [12]:
"""
iloc[] – Integer position-based indexing
Accesses rows/columns by integer position

Like regular Python slicing, it excludes the end index

Does not care about labels, just the position
"""
type(df.iloc[1]) # # Access the 2nd row (index position 1)

pandas.core.series.Series

In [16]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print(new_df)
new_df.loc[2]

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [17]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [29]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’
df1.mean()

column_1    0.438217
column_2    0.476384
column_3    0.555347
column_4    0.312787
column_5    0.487211
column_6    0.591580
dtype: float64

In [30]:
df1['column_2'].std()

0.2539745523358429

In [33]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]
df1.loc[2, 'column_2'] = 'string_data'
df1['column_2'].mean()
"""
since we replaced one value with a string ('hello'), the entire column is treated as object (mixed types).

So when it tries to calculate the mean, it fails, because it can’t perform math on strings.
"""

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [34]:
# Q6. What do you understand about the windows function in pandas and list the types of windows functions?
"""
A window function applies an operation over a "window" (a fixed number of rows or cumulative group of rows)
and moves that window across your DataFrame — kind of like a sliding or expanding lens.

rolling(): applies a function over a fixed-size moving window
expanding(): applies a function over a growing function that start at the begining
ewm(): applies a function using exponentially weighted windows (gives more weight to recent data)
"""

'\nA window function applies an operation over a "window" (a fixed number of rows or cumulative group of rows) \nand moves that window across your DataFrame — kind of like a sliding or expanding lens.\n\nrolling(): applies a function over a fixed-size moving window\nexpanding(): applies a function over a growing function that start at the begining\newm(): applies a function using exponentially weighted windows (gives more weight to recent data)\n'

In [36]:
# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

import pandas as pd
from datetime import datetime

current_date = datetime.now()
current_month = current_date.month
current_year = current_date.year

print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")
print(f"Current Data: {current_date}")

Current Month: 4
Current Year: 2025
Current Data: 2025-04-07 00:38:18.319970

In [7]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.
import pandas as pd

date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

time_diff = abs(date2 - date1)

days = time_diff.days
hours = time_diff.total_seconds() // 3600
minutes = time_diff.total_seconds() // 60

print(f"Time difference between {date1_str} and {date2_str}:")
print(f"Days: {days}")
print(f"Hours: {int(hours)}")
print(f"Minutes: {int(minutes)}")

Enter the first date (YYYY-MM-DD): 2000-08-02
Enter the second date (YYYY-MM-DD): 2025-04-08
Time difference between 2000-08-02 and 2025-04-08:
Days: 9015
Hours: 216360
Minutes: 12981600

In [13]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.
import pandas as pd
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

df = pd.read_csv(file_path)
print(df.head())
# categories = [cat.strip() for cat in category_order.split(',')]
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
sorted = df.sort_values(by=column_name)
print(sorted)

Enter the file path: /content/sample_data/california_housing_test.csv
Enter the column name: longitude
Enter the category order (comma-separated): low,medium,high
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0          NaN     37.37                27.0       3885.0           661.0
1          NaN     34.26                43.0       1510.0           310.0
2          NaN     33.78                27.0       3589.0           507.0
3          NaN     33.82                28.0         67.0            15.0
4          NaN     36.33                19.0       1241.0           244.0
...        ...       ...                 ...          ...             ...
2995       NaN     34.42                23.0       1450.0           642.0
2996       NaN     34.06                27.0       5257.0          1082.0
2997       NaN     36.30                10.0        956.0           201.0
2998       NaN     34.10                40.0         96.0            14.0
2999       NaN     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
# Q10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
file_path = input("Enter the file path: ")
df = pd.read_csv(file_path)
df['Date'] = pd.to_datetime(df['Date'])
pivot_df = df.pivot(index='Date', columns='Product', values='Sales', aggfunc='sum')
pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.title("Sales by Product Category Over Time")
plt.xlabel("Date")
plt.ylabel("Sales")
plt.legend(title="Category")
plt.tight_layout()
plt.show()

In [15]:
# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
# displays the results in a table.
import pandas as pd

data = {
    'Student ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Test Score': [85, 90, 80, 75, 85, 82, 78, 85, 90, 85]
}

df = pd.DataFrame(data)

# Save to CSV
df.to_csv('student_scores.csv', index=False)
file_path = input("Enter your file path: ")
df = pd.read_csv(file_path)
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()
print("Mean Score:", mean_score)
print("Median Score:", median_score)
print("Mode Score:", mode_score)

Enter your file path: /content/student_scores.csv
Mean Score: 83.5
Median Score: 85.0
Mode Score: 0    85
Name: Test Score, dtype: int64